.app {
    width: 100%;
    max-width: 1200px; /* Đặt kích thước tối đa cho trang */
    margin: 0 auto; /* Căn giữa trang */
    font-family: Arial, sans-serif; /* Font chữ chung */
  }
  
  .header {
    background-color: #007bff; /* Màu nền của header */
    color: #fff; /* Màu chữ trong header */
    padding: 10px 20px; /* Khoảng cách giữa nội dung và viền của header */
    display: flex;
    justify-content: space-between; /* Canh trái và canh phải */
    align-items: center; /* Căn giữa dọc */
  }
  
  .logo {
    font-size: 24px;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer {
    background-color: #f8f9fa; /* Màu nền của footer */
    color: #333; /* Màu chữ trong footer */
    padding: 10px 20px;
    text-align: center; /* Canh giữa */
  }
  